<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex gap-x-4 text-sm font-medium rounded-full  py-3 px-6 bg-green-900 text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    <a
      class="text-base hover:text-white transition hover:scale-110"
      href="#top">Home</a
    >
    <a
      class="text-base hover:text-white transition hover:scale-110"
      href="#sobre-mi">Sobre mi</a
    >
    <a
      class="text-base hover:text-white transition hover:scale-110"
      href="#educacion">Educación</a
    >
    <a
      class="text-base hover:text-white transition hover:scale-110"
      href="#proyectos">Proyectos</a
    >
  </nav>
</header>
